<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>메인 대시보드</title>
    <link rel="stylesheet" href="/static/css/list.css" />
    <style>
      a, button, input, select, h1, h2, h3, h4, h5, * {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          border: none;
          text-decoration: none;
          background: none;
          -webkit-font-smoothing: antialiased;
      }
      menu, ol, ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
      }
    </style>
</head>
<body>
  <div class="div">
    <div class="div2">
      <div class="div3">
        <div class="div4">
          <div class="boardname">DASHBOARD</div>
          <div class="div5">
            <div class="item-1"><div class="div6"><a href="">메인 대시보드</a></div></div>
            <div class="item-2"><div class="div7"><a href="/plenary">본회의 법안정보</a></div></div>
            <div class="item-4"><div class="div8"><a href="/legislation_notice">입법예고</a></div></div>
            <div class="item-5"><div class="div9"><a href="/legislative_trends">국외 입법정보</a></div></div>
            <div class="item-6"><div class="div10"><a href="/public_opinion">법안 여론분석</a></div></div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>