<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>메인 대시보드</title>
    <link rel="stylesheet" href="/static/css/list.css" />
    <style>
      a, button, input, select, h1, h2, h3, h4, h5, * {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          border: none;
          text-decoration: none;
          background: none;
          -webkit-font-smoothing: antialiased;
      }
      menu, ol, ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
      }
    </style>
</head>
<body>
  <div class="div">
    <div class="div2">
      <div class="div3">
        <div class="div4">
          <div class="boardname"><a href="/dashboard">DASHBOARD</a></div>
          <div class="div5">
            <div class="item active"><a href="/dashboard">메인 대시보드</a></div>
            <div class="item"><a href="/plenary">본회의 법안정보</a></div>

            <div class="item dropdown">
              <a href="/legislation_notice">입법예고</a>
              <ul class="dropdown-menu">
                <li><a href="/legislation_notice_ongoing">진행 중 입법예고</a></li>
                <li><a href="/legislation_notice_ended">종료된 입법예고</a></li>
              </ul>
            </div>

            <div class="item dropdown">
              <a href="/foreign_legislation">국외 입법정보</a>
              <ul class="dropdown-menu">
                <li><a href="/legislative_trends">주요국 입법동향</a></li>
                <li><a href="/legislative_examples">주요국 입법례</a></li>
              </ul>
            </div>

            <div class="item"><a href="/public_opinion">법안 여론분석</a></div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>